@charset "utf-8";
/* CSS Document */
body{
    background: #214233;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    color: #ffffff;
}
#header{
    margin:0 auto;
}
.nav{
    font-size:14px;
    background: #beffc9;
    -moz-border-bottom-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    border-bottom-left-radius:6px;
    -moz-border-bottom-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-right-radius:6px;
    margin:0 5px;
    border-radius: 5pt;
}
.nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
.nav ul li{
    display:inline;
    margin:0;
    padding:0;
}
.nav ul li:first-child{
    margin:0 0 0 5px;
}
.nav ul li:last-child{
    margin:0 5px 0 0;
}
.nav ul li a{
    display:inline-block;
    color: #101a27;
    padding:10px;text-decoration:none;
}
.nav ul li a:hover{
    color:#565656;
}
h2{
    font-size:16px;
    font-weight:bold;
    color:#9b9b9b;
    border:#aaaaaa 1px dashed;
    padding:5px;
    margin:0 5px;
}
p{
    text-align:left;
    font-size:17px;
    font-family: Consolas;
    color: #ffffff;
    margin:5px;
    padding:0;
    line-height:20px;
}
p a{
    color: #47db3c;
    text-decoration:none;
}
p a:hover{
    color: #6aff41;
}
.nav2{
    font-size:14px;
    background: #2fff00;
    -moz-border-top-left-radius:6px;
    -webkit-border-top-left-radius:6px;
    border-top-left-radius:6px;
    -moz-border-top-right-radius:6px;
    -webkit-border-top-right-radius:6px;
    border-top-right-radius:6px;
    margin:0 5px;
    position:b;
}
.nav2 p{
    text-align:center;
    color: #101a27;
    margin:0 5px;
    padding:5px 0;
}
.nav2 p a{
    display:inline-block;
    color: #41ff44;
    padding:5px;
    text-decoration:none;
}
.nav2 p a:hover{
    color: #23431f;
}
.clear{
    clear:both;
}